name: Publish

on:
  workflow_call:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v3
        with:
          node-version: 22
          registry-url: 'https://npm.pkg.github.com'
      # Ensure npm 11.5.1 or later is installed for trusted publishing
      - name: Update npm
        run: npm install -g npm@latest
      - run: npm publish --provenance
